# ─── Miscellaneous ─────────────────────────────────────────────────────────────
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.tmp
*.bak
*.swp
*~

# ─── IntelliJ Related ────────────────────────────────────────────────────────
*.iml
*.ipr
*.iws
.idea/
out/
gen/

# ─── VS Code Related ──────────────────────────────────────────────────────────
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ─── Flutter/Dart/Pub Related ───────────────────────────────────────────────
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
doc/api/
.last_build_id

# ─── Android Related ──────────────────────────────────────────────────────────
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
**/android/key.properties
**/android/*.keystore
**/android/*.jks
**/android/app/*.keystore
**/android/app/*.jks
**/android/captures/
.gradle/
captures/
**/android/gradle/

# ─── iOS Related ──────────────────────────────────────────────────────────────
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/ios/*.xcworkspace
**/ios/.last_build_id
**/ios/Config/
**/ios/Service-Info.plist
**/ios/GoogleService-Info.plist

# ─── Web Related ──────────────────────────────────────────────────────────────
**/web/stacktrace.js
**/web/manifest.json
**/web/favicon.png

# ─── Firebase Specific ───────────────────────────────────────────────────────
# Ignore Firebase services configuration files
google-services.json
GoogleService-Info.plist
firebase-debug.log
.firebase/

# ─── Environment Variables ────────────────────────────────────────────────────
.env*
!.env.example
